In [1]:
import os
os.chdir(os.getcwd() + '/../../')

In [2]:
import pandas as pd
import contractions
import re

from scripts.utils import *

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\PendragonS\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\PendragonS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

# Fake News Detection

## 1. Preprocessing

In [3]:
true = pd.read_csv('data/news/True.csv', usecols=['title', 'text'])
true['label'] = 0
true.head()

,title,text,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,0

In [4]:
fake = pd.read_csv('data/news/Fake.csv', usecols=['title', 'text'])
fake['label'] = 1
fake.head()

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,1

In [5]:
news = pd.concat([true, fake])

In [6]:
# remove NaN
print(f"number of documents before NaN removal = {len(news)}")
news = news.dropna()
print(f"number of documents after NaN removal = {len(news)}")

number of documents before NaN removal = 44898
number of documents after NaN removal = 44898

In [7]:
# remove duplicates
print(f"number of documents before duplicates removal = {len(news)}")
news = news.drop_duplicates()
print(f"number of documents after duplicates removal = {len(news)}")

number of documents before duplicates removal = 44898
number of documents after duplicates removal = 39105

In [8]:
# reset index
news = news.reset_index(drop=True)

In [9]:
preprocessed_news = pd.DataFrame()

preprocessed_news['title'] = news['title'].apply(preprocess_document)
preprocessed_news['text'] = news['text'].apply(preprocess_document)
preprocessed_news['label'] = news['label']

preprocessed_news.head()

,title,text,label
0,"a you.s . budget fight loom , republican flip ...",washington ( reuters ) - the head of a conserv...,0
1,you.s . military to accept transgender recruit...,washington ( reuters ) - transgender people wi...,0
2,senior you.s . republican senator : 'let mr. m...,washington ( reuters ) - the special counsel i...,0
3,fbi russia probe help by australian diplomat t...,washington ( reuters ) - trump campaign advise...,0
4,trump want postal service to charge 'much more...,seattle/washington ( reuters ) - president don...,0

In [10]:
# remove sources
pattern = re.compile(r'.*?-')
preprocessed_news['text'] = preprocessed_news['text'].str.replace(pattern, '', n=1)

preprocessed_news.head()

,title,text,label
0,"a you.s . budget fight loom , republican flip ...",the head of a conservative republican faction...,0
1,you.s . military to accept transgender recruit...,transgender people will be allow for the firs...,0
2,senior you.s . republican senator : 'let mr. m...,the special counsel investigation of link bet...,0
3,fbi russia probe help by australian diplomat t...,trump campaign adviser george papadopoulos te...,0
4,trump want postal service to charge 'much more...,president donald trump call on the you.s . po...,0

In [11]:
# save data
preprocessed_news.to_csv('data/news/preprocessed_news.csv')